# Ignorar contenido de carpetas de datos, pero mantener las carpetas
calls/*
!calls/.gitkeep

results/*
!results/.gitkeep



# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

